.board-container {
    display: flex;            
    gap: 200px; 
    justify-content: center;           
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 2px;
    width: 300px;
    height: 300px;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: lightblue;
}

.cell.ship {
    background-color: gray;
}

.cell.sunk {
    background-color: red;
}

