header {
    text-align: center;
}

.board-container {
    display: flex;            
    gap: 200px; 
    justify-content: center;           
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 2px;
    width: 300px;
    height: 300px;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    display: inline-block;
}

.cell.empty {
    background-color: rgb(167, 213, 243);
}

.cell.ship {
    background-color: gray;
}

.cell.hit {
    background-color: red;
}

.cell.miss {
    background-color: blue;
}

.cell.sunk {
    background-color: black;
}
