body {
    background-color: rgb(28, 84, 156);
}

header {
    text-align: center;
    color: white;
}

h2{
    text-align: center;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.board-container {
    display: flex;            
    gap: 200px; 
    justify-content: center;           
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 2px;
    width: 300px;
    height: 300px;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #000000;
    display: inline-block;
}

.cell.empty {
    background-color: rgb(102, 212, 240);
}

.cell.ship {
    background-color: rgb(87, 85, 85);
}

.cell.hit {
    background-color: red;
}

.cell.miss {
    background-color: rgb(255, 255, 255);
}

.cell.sunk {
    background-color: black;
}
